partnerBrandLicenseSales/pipeline/ingest_DB_to_bronze_ADLS.json
{
	"name": "ingest_DB_to_bronze_ADLS",
	"properties": {
		"activities": [
			{
				"name": "ForEach table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Tables in DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Tables in DB').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy Table to parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "00:20:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLDB_brandSales",
									"type": "DatasetReference",
									"parameters": {
										"table": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"schema": {
											"value": "@item().SchemaName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_genericPARQUET_bronze",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@concat('brandSales/',item().SchemaName,'/',item().TableName)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup Tables in DB",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('\n    select \n\ts.name SchemaName,\n\tt.name TableName\nfrom sys.tables t\n\tjoin sys.schemas s\n\ton s.schema_id = t.schema_id\n\t\twhere s.name = ''',pipeline().parameters.schema,'''')\n",
							"type": "Expression"
						},
						"queryTimeout": "00:20:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_brandSales_source",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "dbo"
			}
		},
		"folder": {
			"name": "ingestToBronze"
		},
		"annotations": []
	}
}