partnerBrandLicenseSales/pipeline/partnerSales ADLS to sqlDB_copy.json
{
	"name": "partnerSales ADLS to sqlDB_copy",
	"properties": {
		"activities": [
			{
				"name": "Get folders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "partCertSalesInput",
						"type": "DatasetReference",
						"parameters": {
							"yearname": {
								"value": "@variables('rootFolder')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach Year folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get folders').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "PartnerSales csv to db",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "year_name",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('partnerCertSales/',item().name)",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "partCertSalesInput",
									"type": "DatasetReference",
									"parameters": {
										"yearname": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQLDB_brandSales",
									"type": "DatasetReference",
									"parameters": {
										"table": "partnerSales",
										"schema": "dbo"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"rootFolder": {
				"type": "String"
			}
		},
		"folder": {
			"name": "filesToTable"
		},
		"annotations": [],
		"lastPublishTime": "2024-11-05T21:16:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}