adfendtoendproj/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfendtoendproj"
		},
		"er2proj_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'er2proj_ADLS'"
		},
		"ADVWORKS_e2eproj_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "adventureworks-server-01.database.windows.net"
		},
		"ADVWORKS_e2eproj_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "onlinedb-advworks"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "mycompany-brands-partnersales.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "brandSales"
		},
		"er2proj_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://e2eproj.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/brandCertification ADLS to sqlDB_copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "brand cert latest version",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "brand",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "brand",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "certification_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "certification_id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "certification_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "certification_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "lastest_version",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "lastest_version",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "getfileCSVfromADLS",
								"type": "DatasetReference",
								"parameters": {
									"directory": "brandCertificationLatestVersion",
									"file": "certificationLatestVersion.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDB_brandSales",
								"type": "DatasetReference",
								"parameters": {
									"table": "certificationLatestVersion",
									"schema": "dbo"
								}
							}
						]
					},
					{
						"name": "partnerCertificationPassDate",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "getfileCSVfromADLS",
								"type": "DatasetReference",
								"parameters": {
									"directory": "partnerCertificationPassDate",
									"file": "partnerCertificationPassDate.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLDB_brandSales",
								"type": "DatasetReference",
								"parameters": {
									"table": "partnerCertificationPassDate",
									"schema": "dbo"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"rootFolder": {
						"type": "String"
					}
				},
				"folder": {
					"name": "filesToTable"
				},
				"annotations": [],
				"lastPublishTime": "2024-11-05T21:16:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/getfileCSVfromADLS')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_brandSales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingest_DB_to_bronze_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Tables in DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Tables in DB').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "copy Table to parquet",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "00:20:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SQLDB_brandSales",
											"type": "DatasetReference",
											"parameters": {
												"table": {
													"value": "@item().TableName",
													"type": "Expression"
												},
												"schema": {
													"value": "@item().SchemaName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_genericPARQUET_bronze",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": {
													"value": "@concat('brandSales/',item().SchemaName,'/',item().TableName)",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup Tables in DB",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('\n    select \n\ts.name SchemaName,\n\tt.name TableName\nfrom sys.tables t\n\tjoin sys.schemas s\n\ton s.schema_id = t.schema_id\n\t\twhere s.name = ''',pipeline().parameters.schema,'''')\n",
									"type": "Expression"
								},
								"queryTimeout": "00:20:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_brandSales_source",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "dbo"
					}
				},
				"folder": {
					"name": "ingestToBronze"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_brandSales_source')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_brandSales')]",
				"[concat(variables('factoryId'), '/datasets/DS_genericPARQUET_bronze')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/mainSequence')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "newsSentiment ADLS to sqlDB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "brandCertification ADLS to sqlDB_copy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "partnerSales ADLS to sqlDB_copy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "filesToTable"
				},
				"annotations": [],
				"lastPublishTime": "2024-11-05T21:16:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/newsSentiment ADLS to sqlDB')]",
				"[concat(variables('factoryId'), '/pipelines/brandCertification ADLS to sqlDB_copy')]",
				"[concat(variables('factoryId'), '/pipelines/partnerSales ADLS to sqlDB_copy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/newsSentiment ADLS to sqlDB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get folders",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "newsSentimentInput",
								"type": "DatasetReference",
								"parameters": {
									"yearname": {
										"value": "@variables('rootFolder')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach Year",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get folders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get folders').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy News Sentiment",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "year_name",
													"value": {
														"value": "@{item().name}",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": {
													"value": "@{concat('newsSentiment/',item().name)}",
													"type": "Expression"
												},
												"wildcardFileName": "*.csv",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Region",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Region",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Country",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Country",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "State",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "State",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Industry",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Industry",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Jan",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Jan",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Feb",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Feb",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Mar",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Mar",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Apr",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Apr",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "May",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "May",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Jun",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Jun",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Jul",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Jul",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Aug",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Aug",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Sep",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Sep",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Oct",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Oct",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Nov",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Nov",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Dec",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Dec",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "year_name",
														"type": "String"
													},
													"sink": {
														"name": "year_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "newsSentimentInput",
											"type": "DatasetReference",
											"parameters": {
												"yearname": {
													"value": "@{item().name}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SQLDB_brandSales",
											"type": "DatasetReference",
											"parameters": {
												"table": "newsSentiment",
												"schema": "dbo"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"rootFolder": {
						"type": "String"
					}
				},
				"folder": {
					"name": "filesToTable"
				},
				"annotations": [],
				"lastPublishTime": "2024-11-05T21:16:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/newsSentimentInput')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_brandSales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/partnerSales ADLS to sqlDB_copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get folders",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "partCertSalesInput",
								"type": "DatasetReference",
								"parameters": {
									"yearname": {
										"value": "@variables('rootFolder')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach Year folder",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get folders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get folders').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "PartnerSales csv to db",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "year_name",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": {
													"value": "@concat('partnerCertSales/',item().name)",
													"type": "Expression"
												},
												"wildcardFileName": "*.csv",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": "drop table [dbo].[partnerSales]",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Certification_ID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Certification_ID",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Partner_Company_ID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Partner_Company_ID",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "IPE_ID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "IPE_ID",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "ISE_ID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ISE_ID",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Partner_ID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Partner_ID",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "UK_ID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "UK_ID",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Jan Standard",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Jan_Standard",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Jan Professional",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Jan_Professional",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Jan Premium",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Jan_Premium",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Feb Standard",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Feb_Standard",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Feb Professional",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Feb_Professional",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Feb Premium",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Feb_Premium",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Mar Standard",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Mar_Standard",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Mar Professional",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Mar_Professional",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Mar Premium",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Mar_Premium",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Apr Standard",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Apr_Standard",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Apr Professional",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Apr_Professional",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Apr Premium",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Apr_Premium",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "May Standard",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "May_Standard",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "May Professional",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "May_Professional",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "May Premium",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "May_Premium",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Jun Standard",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Jun_Standard",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Jun Professional",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Jun_Professional",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Jun Premium",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Jun_Premium",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Jul Standard",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Jul_Standard",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Jul Professional",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Jul_Professional",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Jul Premium",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Jul_Premium",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Aug Standard",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Aug_Standard",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Aug Professional",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Aug_Professional",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Aug Premium",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Aug_Premium",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Sep Standard",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Sep_Standard",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Sep Professional",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Sep_Professional",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Sep Premium",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Sep_Premium",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Oct Standard",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Oct_Standard",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Oct Professional",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Oct_Professional",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Oct Premium",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Oct_Premium",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Nov Standard",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Nov_Standard",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Nov Professional",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Nov_Professional",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Nov Premium",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Nov_Premium",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Dec Standard",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Dec_Standard",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Dec Professional",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Dec_Professional",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Dec Premium",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Dec_Premium",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "year_name",
														"type": "String"
													},
													"sink": {
														"name": "year_name",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "partCertSalesInput",
											"type": "DatasetReference",
											"parameters": {
												"yearname": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SQLDB_brandSales",
											"type": "DatasetReference",
											"parameters": {
												"table": "partnerSales",
												"schema": "dbo"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"rootFolder": {
						"type": "String"
					}
				},
				"folder": {
					"name": "filesToTable"
				},
				"annotations": [],
				"lastPublishTime": "2024-11-05T21:16:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/partCertSalesInput')]",
				"[concat(variables('factoryId'), '/datasets/SQLDB_brandSales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_brandSales_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_genericCSV_destination')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "er2proj_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().folderPath",
							"type": "Expression"
						},
						"fileSystem": "bronze-partnersales"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/er2proj_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_genericPARQUET_bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "er2proj_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folderPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().folderPath",
							"type": "Expression"
						},
						"fileSystem": "bronze-partnersales"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/er2proj_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLDB_brandSales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table": {
						"type": "string"
					},
					"schema": {
						"type": "string"
					}
				},
				"folder": {
					"name": "SQL DB"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/getfileCSVfromADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "er2proj_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"directory": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"folder": {
					"name": "adls_brand_license_sales/Certification"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().directory",
							"type": "Expression"
						},
						"fileSystem": "brand-license-sales"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "brand",
						"type": "String"
					},
					{
						"name": "certification_id",
						"type": "String"
					},
					{
						"name": "certification_name",
						"type": "String"
					},
					{
						"name": "lastest_version",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/er2proj_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/newsSentimentInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "er2proj_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"yearname": {
						"type": "string"
					}
				},
				"folder": {
					"name": "adls_brand_license_sales/newsSentiment"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('newsSentiment/',dataset().yearname)",
							"type": "Expression"
						},
						"fileSystem": "brand-license-sales"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "Industry",
						"type": "String"
					},
					{
						"name": "Jan-19",
						"type": "String"
					},
					{
						"name": "Feb-19",
						"type": "String"
					},
					{
						"name": "Mar-19",
						"type": "String"
					},
					{
						"name": "Apr-19",
						"type": "String"
					},
					{
						"name": "May-19",
						"type": "String"
					},
					{
						"name": "Jun-19",
						"type": "String"
					},
					{
						"name": "Jul-19",
						"type": "String"
					},
					{
						"name": "Aug-19",
						"type": "String"
					},
					{
						"name": "Sep-19",
						"type": "String"
					},
					{
						"name": "Oct-19",
						"type": "String"
					},
					{
						"name": "Nov-19",
						"type": "String"
					},
					{
						"name": "Dec-19",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/er2proj_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/partCertSalesInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "er2proj_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"yearname": {
						"type": "string"
					}
				},
				"folder": {
					"name": "adls_brand_license_sales/sales"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('partnerCertSales',dataset().yearname)",
							"type": "Expression"
						},
						"fileSystem": "brand-license-sales"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Certification_ID",
						"type": "String"
					},
					{
						"name": "Partner_Company_ID",
						"type": "String"
					},
					{
						"name": "IPE_ID",
						"type": "String"
					},
					{
						"name": "ISE_ID",
						"type": "String"
					},
					{
						"name": "Partner_ID",
						"type": "String"
					},
					{
						"name": "UK_ID",
						"type": "String"
					},
					{
						"name": "Jan Standard",
						"type": "String"
					},
					{
						"name": "Jan Professional",
						"type": "String"
					},
					{
						"name": "Jan Premium",
						"type": "String"
					},
					{
						"name": "Feb Standard",
						"type": "String"
					},
					{
						"name": "Feb Professional",
						"type": "String"
					},
					{
						"name": "Feb Premium",
						"type": "String"
					},
					{
						"name": "Mar Standard",
						"type": "String"
					},
					{
						"name": "Mar Professional",
						"type": "String"
					},
					{
						"name": "Mar Premium",
						"type": "String"
					},
					{
						"name": "Apr Standard",
						"type": "String"
					},
					{
						"name": "Apr Professional",
						"type": "String"
					},
					{
						"name": "Apr Premium",
						"type": "String"
					},
					{
						"name": "May Standard",
						"type": "String"
					},
					{
						"name": "May Professional",
						"type": "String"
					},
					{
						"name": "May Premium",
						"type": "String"
					},
					{
						"name": "Jun Standard",
						"type": "String"
					},
					{
						"name": "Jun Professional",
						"type": "String"
					},
					{
						"name": "Jun Premium",
						"type": "String"
					},
					{
						"name": "Jul Standard",
						"type": "String"
					},
					{
						"name": "Jul Professional",
						"type": "String"
					},
					{
						"name": "Jul Premium",
						"type": "String"
					},
					{
						"name": "Aug Standard",
						"type": "String"
					},
					{
						"name": "Aug Professional",
						"type": "String"
					},
					{
						"name": "Aug Premium",
						"type": "String"
					},
					{
						"name": "Sep Standard",
						"type": "String"
					},
					{
						"name": "Sep Professional",
						"type": "String"
					},
					{
						"name": "Sep Premium",
						"type": "String"
					},
					{
						"name": "Oct Standard",
						"type": "String"
					},
					{
						"name": "Oct Professional",
						"type": "String"
					},
					{
						"name": "Oct Premium",
						"type": "String"
					},
					{
						"name": "Nov Standard",
						"type": "String"
					},
					{
						"name": "Nov Professional",
						"type": "String"
					},
					{
						"name": "Nov Premium",
						"type": "String"
					},
					{
						"name": "Dec Standard",
						"type": "String"
					},
					{
						"name": "Dec Professional",
						"type": "String"
					},
					{
						"name": "Dec Premium",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/er2proj_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADVWORKS_e2eproj')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ADVWORKS_e2eproj_properties_typeProperties_server')]",
					"database": "[parameters('ADVWORKS_e2eproj_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/er2proj_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('er2proj_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('er2proj_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}